/* Add local font files */
@font-face {
    font-family: Proxima;
    src: url("assets/proxima_nova/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
    font-family: Proxima;
    src: url("assets/proxima_nova/ProximaNova-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: Proxima;
    src: url("assets/proxima_nova/ProximaNova-Semibold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: Proxima;
    src: url("assets/proxima_nova/ProximaNova-Light.otf") format("opentype");
    font-weight: 200;
}

/* body */
body {
  font-family: Proxima;
  margin: 0 auto;
  width: 100%;
}

/* navbar */
.navbar-main {
  background-color: black;
  display: flex;
  color: white;
  height: 83px;
  justify-content: space-between;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 3px;
}

.navbar-links > a {
  text-decoration: none;
  color: white;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: bold;
}

.navbar-links > img {
  width: 165px;
  height: 44px;
  margin-left: 15px;
  margin-right: 23px;
}

.navbar-phone {
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.navbar-phone-number {
  font-size: 27px;
  margin-right: 13px;
}

.navbar-screening {
  background-color: #C09072;
  width: 157px;
  height: 55px;
  border: 2px solid white;
  margin-bottom: 4px;
  position: relative;
}

.navbar-screening > i {
  font-size: 21px;
  position: absolute;
  top: 20px;
  left: 5px;
}

.navbar-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.navbar-light {
  font-weight: 200;
  font-size: 12px;
  position: relative;
  margin-top: 1px;
}

.navbar-light:after {
  content: '';
  width: 97px;
  height: 1px;
  background: white;
  position: absolute;
  bottom: -3px;
  left: 12px;
}

.navbar-bold {
  font-weight: bold;
  text-align: center;
  width: 75%;
  margin-top: 7px;
  margin-left: 9px;
  font-size: 14px;
  line-height: 1.1;
}

/* banner */
.banner-main {
  width: 100%;
  height: 264px;
  background-image: url("assets/banner_bg.jpeg");
  background-position: 0% 28%;
  background-size: cover;
  position: relative;
}

.banner-info {
  position: absolute;
  background: rgba(35,31,32,0.6);
  height: 99px;
  top: 119px;
  width: 100%;
}

.banner-info > div {
  font-size: 20px;
  font-weight: 200;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  width: 75%;
  line-height: 1.5;
}

/* steps indicator */
.steps-main {
  margin: 0 auto;
  width: 406px;
  margin-top: 17px;
}

.steps-numbers {
  width: 337px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.steps-circle-1, .steps-circle-2, .steps-circle-3 {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 37px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0;
  color: black;
  position: relative;
  font-size: 24px;
  opacity: 0.2;
}

.steps-line {
  width: 116px;
  height: 1px;
  background: black;
  opacity: 0.2;
}

.steps-active {
  opacity: 1.0;
  border: 2px solid black;
}

.steps-info-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.steps-info-1, .steps-info-2, .steps-info-3 {
  color: black;
  opacity: 0.2;
  font-size: 13px;
}

.steps-info-2 {
  margin-right: 22px;
}

.steps-info-3 {
  margin-right: 10px;
}

.steps-info-active {
  opacity: 1.0;
}
